/* Hero */
.sx_project__hero {
	width: 100%;
	text-align: center;
	padding: 18vh 0;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.sx_project__hero--albya {
	background-image: url('../../../img/home/Albya.png');
}

.sx_project__hero--aurio {
	background-image: url('../../../img/home/Aurio.png');
}

.sx_project__hero--kaloni {
	background-image: url('../../../img/home/Kaloni.png');
}

.sx_project__hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.sx_project__hero h1 {
	z-index: 2;
	position: relative;
}

/* Stack */
.sx_project__stack--grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding-top: 60px;
}

.sx_project__stack--grid_item {
	background: var(--bg-card);
	border: 1px solid var(--dark);
	padding: 25px 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.sx_project__stack--grid_item strong {
	font-size: 12px;
	color: var(--gray);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 1.5;
}

.sx_project__stack--grid_item span {
	font-size: 14px;
	color: var(--white);
	font-weight: 600;
	line-height: 1.5;
}

/* Description */
.sx_project__description {
	padding-top: 60px;
}

.sx_project__description--grid {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 30px;
	gap: 30px;
}

.sx_project__description__gallery--grid {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
}

.sx_project__description__gallery--grid_item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sx_project__description__gallery--grid_item video,
.sx_project__description__gallery--grid_item img {
	width: 100%;
}


@media (min-width: 479px) {

	.sx_project__stack--grid_item {
		padding: 25px;
	}

}

@media(min-width: 768px) {

	.sx_project__description--grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.sx_project__stack--grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.sx_project__description__gallery--grid {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media(min-width: 992px) { 

	.sx_project__hero {
		padding: 36vh 0;
	}

	.sx_project__stack--grid {
		grid-template-columns: repeat(6, 1fr);
	}

}