button {
	background: transparent;
	border: 0;
}

.sx_btn_primary {
	padding: 13px 26px;
	border: 1px solid var(--dark);
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-radius: 120px;
	width: fit-content;
	transition: all 0.6s ease;
}

.sx_btn_primary:hover {
	background-color: var(--secondary);
}

.sx_btn_primary span {
	font-size: 16px;
	color: var(--white);
	font-weight: 500;
}

.sx_btn_primary i {
	font-size: 20px;
	color: var(--white);
	font-weight: 500;
	margin-left: 10px;
}