.sx_des_dev {
	padding-top: 120px;
	background-color: var(--black);
}

.sx_des_dev h2 {
	text-align: center;
	width: 100%;
}

.sx_des_dev--grid {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 60px;
	gap: 20px;
}

.sx_des_dev--grid_item {
	background: var(--bg-card);
	border: 1px solid var(--dark);
	border-radius: 20px;
	cursor: pointer;
}

.sx_des_dev--grid_item img {
	width: 100%;
}

@media (min-width: 768px) {

	.sx_des_dev--grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}

}