.sx_relevant_projects {
	width: 100%;
	background-color: var(--black);
}

.sx_relevant_projects .container {
	padding-top: 60px;
}

.sx_relevant_projects__picture {
	width: 100%;
	height: 100vh;
	border-radius: 20px;
	display: flex;
	background: var(--bg-card);
	background-size: cover;
	background-repeat: no-repeat;
	position: sticky;
}

.sx_relevant_projects__picture--albya {
	background-image: url('../../../img/home/Albya.png');
	background-position: top;
	top: 80px;
}

.sx_relevant_projects__picture--xtm {
	background-image: url('../../../img/home/XTM\ Inc.png');
	background-position: top;
	top: 100px;
}

.sx_relevant_projects__picture--vidanta {
	background-image: url('../../../img/home/Vidanta.png');
	background-position: center;
	top: 120px;
}

.sx_relevant_projects__picture--scotia {
	background-image: url('../../../img/home/Scotiabank.png');
	background-position: center;
	top: 120px;
}

