.sx_relevant_projects {
	width: 100%;
	background-color: var(--black);
}

.sx_relevant_projects .container {
	padding-top: 60px;
}

.sx_relevant_projects__picture {
	width: 100%;
	border-radius: 20px;
	background: var(--bg-card);
	display: flex;
	position: sticky;
	overflow: hidden;
	margin-bottom: 40px;
}

.sx_relevant_projects__picture img {
	width: 100%;
}

.sx_relevant_projects__picture--albya {
	top: 80px;
}


.sx_relevant_projects__picture--vidanta {
	top: 100px;
}

.sx_relevant_projects__picture--scotia {
	top: 120px;
}

.sx_relevant_projects__picture--iaxtract {
	top: 140px;
}
